<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msds.km.mapper.BespeakDetailMapper">
	<!-- Result Map -->
	<resultMap id="ResultMap" type="com.msds.km.entity.BespeakDetailEntity">
		<result column="id" property="id" />
		<result column="bespeak_sn" property="bespeakSn" />
		<result column="process_id" property="processId" />
		<result column="process_name" property="processName" />
		<result column="process_pid" property="processPid" />
		<result column="process_pname" property="processPname" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="price" property="price" />
	</resultMap>

	<!-- g_bespeak_detail 字段 -->
	<sql id="Column_List">
		g_bespeak_detail.id,g_bespeak_detail.bespeak_sn,g_bespeak_detail.process_id,g_bespeak_detail.process_name,g_bespeak_detail.process_pid,g_bespeak_detail.process_pname,g_bespeak_detail.create_date,g_bespeak_detail.modify_date,g_bespeak_detail.price
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and g_bespeak_detail.id = #{id}
			</if>
			<if test="bespeakSn != null and bespeakSn != ''">
				and g_bespeak_detail.bespeak_sn = #{bespeakSn}
			</if>
			<if test="processId != null and processId != ''">
				and g_bespeak_detail.process_id = #{processId}
			</if>
			<if test="processName != null and processName != ''">
				and g_bespeak_detail.process_name = #{processName}
			</if>
			<if test="processPid != null and processPid != ''">
				and g_bespeak_detail.process_pid = #{processPid}
			</if>
			<if test="processPname != null and processPname != ''">
				and g_bespeak_detail.process_pname = #{processPname}
			</if>
			<if test="createDate != null and createDate != ''">
				and g_bespeak_detail.create_date = #{createDate}
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and g_bespeak_detail.modify_date = #{modifyDate}
			</if>
			<if test="price != null and price != ''">
				and g_bespeak_detail.price = #{price}
			</if>
		</trim>
	</sql>
	
		<!-- like查询条件 -->
	<sql id="Like_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and g_bespeak_detail.id = #{id}
			</if>
			<if test="bespeakSn != null and bespeakSn != ''">
				and g_bespeak_detail.bespeak_sn like CONCAT('%',#{bespeakSn},'%')
			</if>
			<if test="processId != null and processId != ''">
				and g_bespeak_detail.process_id like CONCAT('%',#{processId},'%')
			</if>
			<if test="processName != null and processName != ''">
				and g_bespeak_detail.process_name like CONCAT('%',#{processName},'%')
			</if>
			<if test="processPid != null and processPid != ''">
				and g_bespeak_detail.process_pid like CONCAT('%',#{processPid},'%')
			</if>
			<if test="processPname != null and processPname != ''">
				and g_bespeak_detail.process_pname like CONCAT('%',#{processPname},'%')
			</if>
			<if test="createDate != null and createDate != ''">
				and g_bespeak_detail.create_date like CONCAT('%',#{createDate},'%')
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and g_bespeak_detail.modify_date like CONCAT('%',#{modifyDate},'%')
			</if>
			<if test="price != null and price != ''">
				and g_bespeak_detail.price like CONCAT('%',#{price},'%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() 
		</selectKey>
		insert into g_bespeak_detail(id,bespeak_sn,process_id,process_name,process_pid,process_pname,create_date,modify_date,price)
 values(#{id},#{bespeakSn},#{processId},#{processName},#{processPid},#{processPname},#{createDate},#{modifyDate},#{price})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update g_bespeak_detail set 
	<trim  suffixOverrides="," >
	<if test="bespeakSn != null  ">
		bespeak_sn=#{bespeakSn},
	</if>
	<if test="processId != null  ">
		process_id=#{processId},
	</if>
	<if test="processName != null  ">
		process_name=#{processName},
	</if>
	<if test="processPid != null  ">
		process_pid=#{processPid},
	</if>
	<if test="processPname != null  ">
		process_pname=#{processPname},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="modifyDate != null  ">
		modify_date=#{modifyDate},
	</if>
	<if test="price != null  ">
		price=#{price},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete 	 from g_bespeak_detail where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="findById" resultMap="ResultMap" parameterType="Object">
		select <include refid="Column_List" /> 
	 from g_bespeak_detail where id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findListByCondition" resultMap="ResultMap"
		parameterType="Object">
		select 
		<include refid="Column_List" />
		from g_bespeak_detail 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from g_bespeak_detail 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询分页列表 -->
	<select id="queryByList" resultMap="ResultMap" parameterType="Object">
		select 
		<include refid="Column_List" />
		from g_bespeak_detail 
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition} 
		</if>
		<if test="pager.queryCondition != null and pager.queryCondition != ''">
			${pager.queryCondition}
		</if>
	</select>

</mapper>   

