<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msds.km.mapper.RfidLogMapper">
	<!-- Result Map -->
	<resultMap id="ResultMap" type="com.msds.km.entity.RfidLogEntity">
		<result column="id" property="id" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="epc_no" property="epcNo" />
		<result column="provice_id" property="proviceId" />
		<result column="city_id" property="cityId" />
		<result column="street_id" property="streetId" />
		<result column="full_area" property="fullArea" />
	</resultMap>

	<!-- k_rfid_log 字段 -->
	<sql id="Column_List">
		k_rfid_log.id,k_rfid_log.create_date,k_rfid_log.modify_date,k_rfid_log.epc_no,k_rfid_log.provice_id,k_rfid_log.city_id,k_rfid_log.street_id,k_rfid_log.full_area
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and k_rfid_log.id = #{id}
			</if>
			<if test="createDate != null and createDate != ''">
				and k_rfid_log.create_date = #{createDate}
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and k_rfid_log.modify_date = #{modifyDate}
			</if>
			<if test="epcNo != null and epcNo != ''">
				and k_rfid_log.epc_no = #{epcNo}
			</if>
			<if test="proviceId != null and proviceId != ''">
				and k_rfid_log.provice_id = #{proviceId}
			</if>
			<if test="cityId != null and cityId != ''">
				and k_rfid_log.city_id = #{cityId}
			</if>
			<if test="streetId != null and streetId != ''">
				and k_rfid_log.street_id = #{streetId}
			</if>
			<if test="fullArea != null and fullArea != ''">
				and k_rfid_log.full_area = #{fullArea}
			</if>
		</trim>
	</sql>
	
		<!-- like查询条件 -->
	<sql id="Like_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and k_rfid_log.id = #{id}
			</if>
			<if test="createDate != null and createDate != ''">
				and k_rfid_log.create_date like CONCAT('%',#{createDate},'%')
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and k_rfid_log.modify_date like CONCAT('%',#{modifyDate},'%')
			</if>
			<if test="epcNo != null and epcNo != ''">
				and k_rfid_log.epc_no like CONCAT('%',#{epcNo},'%')
			</if>
			<if test="proviceId != null and proviceId != ''">
				and k_rfid_log.provice_id like CONCAT('%',#{proviceId},'%')
			</if>
			<if test="cityId != null and cityId != ''">
				and k_rfid_log.city_id like CONCAT('%',#{cityId},'%')
			</if>
			<if test="streetId != null and streetId != ''">
				and k_rfid_log.street_id like CONCAT('%',#{streetId},'%')
			</if>
			<if test="fullArea != null and fullArea != ''">
				and k_rfid_log.full_area like CONCAT('%',#{fullArea},'%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() 
		</selectKey>
		insert into k_rfid_log(id,create_date,modify_date,epc_no,provice_id,city_id,street_id,full_area)
 values(#{id},#{createDate},#{modifyDate},#{epcNo},#{proviceId},#{cityId},#{streetId},#{fullArea})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update k_rfid_log set 
	<trim  suffixOverrides="," >
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="modifyDate != null  ">
		modify_date=#{modifyDate},
	</if>
	<if test="epcNo != null  ">
		epc_no=#{epcNo},
	</if>
	<if test="proviceId != null  ">
		provice_id=#{proviceId},
	</if>
	<if test="cityId != null  ">
		city_id=#{cityId},
	</if>
	<if test="streetId != null  ">
		street_id=#{streetId},
	</if>
	<if test="fullArea != null  ">
		full_area=#{fullArea},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete 	 from k_rfid_log where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="findById" resultMap="ResultMap" parameterType="Object">
		select <include refid="Column_List" /> 
	 from k_rfid_log where id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findListByCondition" resultMap="ResultMap"
		parameterType="Object">
		select 
		<include refid="Column_List" />
		from k_rfid_log 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from k_rfid_log 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询分页列表 -->
	<select id="queryByList" resultMap="ResultMap" parameterType="Object">
		select 
		<include refid="Column_List" />
		from k_rfid_log 
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition} 
		</if>
		<if test="pager.queryCondition != null and pager.queryCondition != ''">
			${pager.queryCondition}
		</if>
	</select>

</mapper>   
