<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msds.km.mapper.ServiceCompanyMapper">
	<!-- Result Map -->
	<resultMap id="ResultMap" type="com.msds.km.entity.ServiceCompanyEntity">
		<result column="id" property="id" />
		<result column="service_code" property="serviceCode" />
		<result column="company_id" property="companyId" />
		<result column="operator" property="operator" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="service_name" property="serviceName" />
	</resultMap>

	<!-- g_service_company 字段 -->
	<sql id="Column_List">
		g_service_company.id,g_service_company.service_code,g_service_company.service_name,g_service_company.company_id,g_service_company.operator,g_service_company.create_date,g_service_company.modify_date
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and g_service_company.id = #{id}
			</if>
			<if test="serviceCode != null and serviceCode != ''">
				and g_service_company.service_code = #{serviceCode}
			</if>
			<if test="companyId != null and companyId != ''">
				and g_service_company.company_id = #{companyId}
			</if>
			<if test="operator != null and operator != ''">
				and g_service_company.operator = #{operator}
			</if>
			<if test="createDate != null and createDate != ''">
				and g_service_company.create_date = #{createDate}
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and g_service_company.modify_date = #{modifyDate}
			</if>
		</trim>
	</sql>
	
		<!-- like查询条件 -->
	<sql id="Like_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and g_service_company.id = #{id}
			</if>
			<if test="serviceCode != null and serviceCode != ''">
				and g_service_company.service_code like CONCAT('%',#{serviceCode},'%')
			</if>
			<if test="companyId != null and companyId != ''">
				and g_service_company.company_id like CONCAT('%',#{companyId},'%')
			</if>
			<if test="operator != null and operator != ''">
				and g_service_company.operator like CONCAT('%',#{operator},'%')
			</if>
			<if test="createDate != null and createDate != ''">
				and g_service_company.create_date like CONCAT('%',#{createDate},'%')
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and g_service_company.modify_date like CONCAT('%',#{modifyDate},'%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() 
		</selectKey>
		insert into g_service_company(id,service_code,company_id,operator,create_date,modify_date,service_name)
 values(#{id},#{serviceCode},#{companyId},#{operator},#{createDate},#{modifyDate},#{serviceName})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update g_service_company set 
	<trim  suffixOverrides="," >
	<if test="serviceCode != null  ">
		service_code=#{serviceCode},
	</if>
	<if test="companyId != null  ">
		company_id=#{companyId},
	</if>
	<if test="operator != null  ">
		operator=#{operator},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="modifyDate != null  ">
		modify_date=#{modifyDate},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete 	 from g_service_company where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="findById" resultMap="ResultMap" parameterType="Object">
		select <include refid="Column_List" /> 
	 from g_service_company where id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findListByCondition" resultMap="ResultMap"
		parameterType="Object">
		select 
		<include refid="Column_List" />
		from g_service_company 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from g_service_company 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询分页列表 -->
	<select id="queryByList" resultMap="ResultMap" parameterType="Object">
		select 
		<include refid="Column_List" />
		from g_service_company 
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition} 
		</if>
		<if test="pager.queryCondition != null and pager.queryCondition != ''">
			${pager.queryCondition}
		</if>
	</select>

</mapper>   
