<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msds.km.mapper.VersionMapper">
	<!-- Result Map -->
	<resultMap id="ResultMap" type="com.msds.km.entity.VersionEntity">
		<result column="id" property="id" />
		<result column="os_type" property="osType" />
		<result column="version_code" property="versionCode" />
		<result column="version_name" property="versionName" />
		<result column="url" property="url" />
		<result column="force_update" property="forceUpdate" />
		<result column="description" property="description" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
	</resultMap>

	<!-- b_m_version 字段 -->
	<sql id="Column_List">
		b_m_version.id,b_m_version.os_type,b_m_version.version_code,b_m_version.version_name,b_m_version.url,b_m_version.force_update,b_m_version.description,b_m_version.create_date,b_m_version.modify_date
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and b_m_version.id = #{id}
			</if>
			<if test="osType != null and osType != ''">
				and b_m_version.os_type = #{osType}
			</if>
			<if test="versionCode != null and versionCode != ''">
				and b_m_version.version_code = #{versionCode}
			</if>
			<if test="versionName != null and versionName != ''">
				and b_m_version.version_name = #{versionName}
			</if>
			<if test="url != null and url != ''">
				and b_m_version.url = #{url}
			</if>
			<if test="forceUpdate != null and forceUpdate != ''">
				and b_m_version.force_update = #{forceUpdate}
			</if>
			<if test="description != null and description != ''">
				and b_m_version.description = #{description}
			</if>
			<if test="createDate != null and createDate != ''">
				and b_m_version.create_date = #{createDate}
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and b_m_version.modify_date = #{modifyDate}
			</if>
		</trim>
	</sql>
	
		<!-- like查询条件 -->
	<sql id="Like_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and b_m_version.id = #{id}
			</if>
			<if test="osType != null and osType != ''">
				and b_m_version.os_type like CONCAT('%',#{osType},'%')
			</if>
			<if test="versionCode != null and versionCode != ''">
				and b_m_version.version_code like CONCAT('%',#{versionCode},'%')
			</if>
			<if test="versionName != null and versionName != ''">
				and b_m_version.version_name like CONCAT('%',#{versionName},'%')
			</if>
			<if test="url != null and url != ''">
				and b_m_version.url like CONCAT('%',#{url},'%')
			</if>
			<if test="forceUpdate != null and forceUpdate != ''">
				and b_m_version.force_update like CONCAT('%',#{forceUpdate},'%')
			</if>
			<if test="description != null and description != ''">
				and b_m_version.description like CONCAT('%',#{description},'%')
			</if>
			<if test="createDate != null and createDate != ''">
				and b_m_version.create_date like CONCAT('%',#{createDate},'%')
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and b_m_version.modify_date like CONCAT('%',#{modifyDate},'%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() 
		</selectKey>
		insert into b_m_version(id,os_type,version_code,version_name,url,force_update,description,create_date,modify_date)
 values(#{id},#{osType},#{versionCode},#{versionName},#{url},#{forceUpdate},#{description},#{createDate},#{modifyDate})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update b_m_version set 
	<trim  suffixOverrides="," >
	<if test="osType != null  ">
		os_type=#{osType},
	</if>
	<if test="versionCode != null  ">
		version_code=#{versionCode},
	</if>
	<if test="versionName != null  ">
		version_name=#{versionName},
	</if>
	<if test="url != null  ">
		url=#{url},
	</if>
	<if test="forceUpdate != null  ">
		force_update=#{forceUpdate},
	</if>
	<if test="description != null  ">
		description=#{description},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="modifyDate != null  ">
		modify_date=#{modifyDate},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete 	 from b_m_version where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="findById" resultMap="ResultMap" parameterType="Object">
		select <include refid="Column_List" /> 
	 from b_m_version where id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findListByCondition" resultMap="ResultMap"
		parameterType="Object">
		select 
		<include refid="Column_List" />
		from b_m_version 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from b_m_version 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询分页列表 -->
	<select id="queryByList" resultMap="ResultMap" parameterType="Object">
		select 
		<include refid="Column_List" />
		from b_m_version 
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition} 
		</if>
		<if test="pager.queryCondition != null and pager.queryCondition != ''">
			${pager.queryCondition}
		</if>
	</select>

</mapper>   
