@charset "utf-8";
/* CSS Document */
.mainbody{width:100%;background:#faf9f9;overflow:Hidden;}
.password-body{background:#f6f6f6;border-bottom:1px solid #e4e3e3;border-right:1px solid #e4e3e3;padding:41px;margin-bottom:61px;}
.step ul {height:35px;overflow:hidden;display:block;_*zoom:1;}
.step ul li{width:295px;height:35px;float:left;margin-right:10px;}
.step ul li.end{width:285px;margin-right:0;}
.step ul.step1{background:url(../images/step2.png) no-repeat 0 0;}
.step ul.step2{background:url(../images/step2.png) no-repeat 0 -47px;}
.step ul.step3{background:url(../images/step2.png) no-repeat 0 -90px;}
.step ul li span.arr{display:inline-block;*display:inline;*zoom:1;font-size:12px;color:#b1b1b1;padding-left:40px;padding-top:2px;}
.step ul li.current span.arr{font-family:\5FAE\8F6F\96C5\9ED1;font-size:18px;color:#0e84bd;margin-top:-4px;padding-top:0;}

 input{height:36px;line-height:36px;border:1px solid #e3e3e3;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius:3px;background:#fff;text-indent:7px;vertical-align:middle;}
.form-input{padding-top:41px;text-align:center;margin:0 auto;}
.modify-password .form-input{border-top:1px solid #fcfcfc;}
.form-input ul li{display:block;margin-bottom:20px;text-align:center;}
.form-input ul li label{margin-right:6px;color:#3f3f3f;vertical-align:middle;font-size:14px;text-align:left;width:70px;fong-family:\5b8b\4f53;}
.form-input ul li label span.must{color:#d90000;margin-right:2px;}
.phone .form-input li label{width:84px;}
.modify-password .form-input li label{width:94px;}
.form-input input.input-text{width:230px;height:16px;line-height:16px;padding: 10px 4px;}
.form-input input.validate{width:98px;margin-right:11px;height:16px;line-height:16px;padding: 10px 4px;}
.form-input li input.button{margin-left:90px;*margin-left:82px;}
.modify-password .form-input li input.button{margin-left:100px;*margin-left:93px;}
.phone .form-input li input.button{margin-left:88px;*margin-left:81px;}
.form-input li.tip{line-height:26px;margin-bottom:10px;color:#5b5b5b;font-size:12px;}
.form-input li.tip p{padding-left:90px;}
.password-body .form-input li.tip p{padding-left:76px;} 
.form-input p.tip2{font-family:\5b8b\4f53;font-size:14px;color:3f3f3f;font-weight:bold;margin-bottom:25px;}
.form-input a.go-index{display:inline-block;*display:inline;*zoom:1;width:237px;height:40px;line-height:40px;background:url(../images/button.png) no-repeat 0 0;text-decoration:none;font-family:\5FAE\8F6F\96C5\9ED1;font-size:18px;color:#fff;font-weight:bold;text-align:center;margin-bottom:8px;}
.first{padding-top:61px;}
.third {text-align:center;padding-left:0;}
.third p{margin-bottom:18px;}
.modify-password{background:#f6f6f6;}
.title{width:781px;margin:0 auto;overflow:hidden;**zoom:1;padding-bottom:30px;border-bottom:1px solid #ebebeb;padding-left:56px;padding-right:56px;}
.title ul li{float:left;width:160px;color:#b7b7b7;height:49px;line-height:20px;vertical-align:middle;background:url(../images/icon.png) no-repeat -11px -2px;margin-right:60px;padding-left:55px;}
.title ul li.last{margin-right:0;background-position:-11px -110px;}
.title ul li.icon2{background-position:-11px -56px;}
.mess-tip{margin-left:13px;text-align:left;position:absolute;display:none;}


