<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="false">

	<bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
		<property name="slowSqlMillis" value="3000" />
		<property name="logSlowSql" value="true" />
	</bean>
<!-- 	<bean id="config-filter" class="com.alibaba.druid.filter.config.ConfigFilter"> -->
<!-- 		<property name="connectionProperties" value="config.decrypt=true" /> -->
<!-- 	</bean> -->

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<!-- 基本属性 url、user、password -->
		<property name="url" value="${mysql_jdbc.url}" />
		<property name="username" value="${mysql_jdbc.username}" />
		<property name="password" value="${mysql_jdbc.password}" />
		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize" value="${mysql_connection_pools.initial_pool_size}" />
		<property name="minIdle" value="1" />
		<property name="maxActive" value="${mysql_connection_pools.max_pool_size}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${mysql_connection_pools.checkout_timeout}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<property name="poolPreparedStatements" value="false" />
		<!-- <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/> -->
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="true" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="1800" />

		<property name="numTestsPerEvictionRun" value="50" />
		<property name="proxyFilters">
			<list>
				<ref bean="stat-filter" />
<!-- 				<ref bean="config-filter" /> -->
			</list>
		</property>
	</bean>

	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--指定数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!--指定myIbalis配置文件路径 -->
		<property name="configLocation" value="classpath:mybatis-mapconfig.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.msds.*.mapper" />
	</bean>

</beans>